# ======================
# Environment & Config
# ======================
.env
.env.*
config/database.php

# ======================
# Library (opsional)
# ======================
libs/dompdf/

# ======================
# Cache & Temp
# ======================
cache/
tmp/
*.log

# ======================
# Editor
# ======================
.vscode/
.idea/

# ======================
# OS
# ======================
Thumbs.db
.DS_Store
